form.sign-up-form {
  display: flex;
  flex-direction: column;
}

form.sign-up-form > .text-input {
  margin-bottom: 10px;
}

form.sign-up-form > label {
  margin: 0 0 .2em 0;
  display: inline-flex;
  flex-direction: row;
}

form.sign-up-form > label .icon {
  width: 15px;
  height: 15px;
  margin-left: .4em;
}

form.sign-up-form > .text-input > .input-requirements .requirement {
  font-size: .8em;
}

form.sign-up-form > .sign-up-button {
  width: 50%;
  margin: 0 auto;
}

form.sign-up-form > .error-message {
  font-size: .4em;
}

form.sign-up-form .percent-gauge {
  animation: rotate-360 2s linear infinite;
  margin: auto;
}