ul.expanded-options {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.expanded-options > li *:first-child{
  display: inline;
  width: 100%;
  padding: .2em;
}

ul.expanded-options > li.options-title {
  padding-bottom: .2em;
  background-color: hsl(0, 0%, 60%);
}

ul.expanded-options .align-center {
  text-align: center;
}

ul.expanded-options .align-left {
  text-align:left;
}

ul.expanded-options .align-right {
  text-align: right;
}

ul.expanded-options.hide {
  display: none;
}