.top-left-corner {
  border-radius: .2em;
  border-top-left-radius: 0;
}

.top-right-corner {
  border-radius: .2em;
  border-top-right-radius: 0;
}

.bottom-right-corner {
  border-radius: .2em;
  border-bottom-right-radius: 0;
}

.bottom-left-corner {
  border-radius: .2em;
  border-bottom-left-radius: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align:left;
}

.align-right {
  text-align: right;
}

.expanded-options {
  display: inline-block;
  background-color: hsl(0, 0%, 70%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.expanded-options li *:first-child{
  display: inline;
  width: 100%;
}

.options-title {
  padding-bottom: .2em;
  background-color: hsl(0, 0%, 60%);
}

.expanded-options li:first-child {
  padding-top: .2em;
}

.expanded-options li{
  padding-left: .2em;
  padding-right: .2em;
}

.expanded-options li:last-child {
  padding-bottom: .2em;
}