.tabs {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs .tab {
  border-radius: .4em .4em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.0rem;
  height: 2rem;
  /* Color-Dark-1 */
  background-color: rgba(0, 0, 0, .2);
  font-size: .85rem;
}

@media screen and (max-width: 530px) {
  .tabs .tab {
    width: 8rem;
  }
}

.tabs .tab.selected {
  /* Color-Light-1 */
  background-color: #B0CDED;
  text-decoration: underline;
}

.tab > *:first-child {
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  color: inherit;
}