.toast {
  position: fixed;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 16;
  background-color: var(--Color-Dark-2);
  color: var(--Text-Color-Light);
  box-shadow: -3px 3px 9px 4px rgba(0, 0, 0, .2);
  border: 2px solid var(--Text-Color-Light);
  padding: .5rem;
}