.sign-up-form > form {
  display: flex;
  flex-direction: column;
}

.sign-up-form > form > *:not(:last-child) {
  margin-bottom: 10px;
}

.label-bar {
  margin: 0 0 .2em 0;
  display: inline-flex;
  flex-direction: row;
}

.label-bar > .label-text {
  margin: 0 .4em 0 0;
}

.requirement {
  font-size: .8em;
}

.sign-up-button {
  width: 50%;
  margin: 0 auto;
}

.sign-up-form .error-message {
  font-size: .4em;
}