.sign-up-modal-contents {
  display: flex;
  flex-direction: column;
}

.sign-up-modal-contents hr {
  margin: 1em auto;
  width: 80%;
}

.sign-up-modal-contents > button.anchor-like {
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}
