.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading > * {
  margin-top: auto;
  margin-bottom: auto;
}

.heading .select {
  margin-left: .5em;
}

.heading .list-search {
  margin-left: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 350px;
  overflow-y: auto;
}

.list > li {
  /* To view Music Items */
  /* Color-Light-3 */
  background-color: rgba(255,255,255, .8);
  padding-right: .5rem;
}

.list.collaborative > li{
  padding-left: .5rem;
}

.list.artist > li {
  padding: .2rem;
}

.list > li:not(:first-child) {
  margin-top: .5em;
}

.music-item .expandable-button li {
  padding: 0;
}

.music-item .expandable-button li button {
  padding: .2em .6em;
}