.drop-down {
  width: 100%;
}

.drop-down > .title-bar {
  width: inherit;
  height: 1.5em;
  padding: 0 .5em;
}

.drop-down > .title-bar > .expand-collapse-icon {
  margin-left: .5em;
  margin-right: auto;
}

.drop-down > .title-bar > .expand-collapse-icon.down {
  transform: rotate(180deg);
}