footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #0F2035;
  color: white;
}

footer > .text-section > .app-name {
  display: block;
  font-size: 1.5rem;
}

footer > .text-section > br {
  display: none;
}

footer > hr {
  display: inline;
  width: 3px;
  height: inherit;
  margin: 0 1rem;
  background-color: white;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer > .links-section {
  display: flex;
  flex-direction: row;
}

footer > .links-section li {
  list-style: none;
}

footer > .links-section > li:not(:first-of-type) {
  margin-left: 2rem;
}

footer > .links-section > li > span {
  text-decoration: underline;
}

footer > .links-section ul {
  margin-top: .5rem;
}

footer > .links-section ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: grey;
}

footer > .links-section ul a > .icon {
  margin-right: .5rem;
}