.list-search {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.list-search > .text {
  margin-right: .5em;
}

.list-search > input {
  width: 7em;
}

.list-search > input:focus {
  width: 10em;
}