button {
  background-color: hsl(0, 0%, 70%);
  border-style: none;
}

button:hover {
  cursor: pointer;
}

.round-corners {
  border-radius: .2em;
}

.rounded-none {
  border-radius: 0;
}

.rounded-all {
  border-radius: .2em;
}

.rounded-top {
  border-radius: .2em .2em 0 0;
}

.rounded-right {
  border-radius: 0 .2em .2em 0;
}

.rounded-bottom { 
  border-radius: 0 0 .2em .2em; 
}

.rounded-left {
  border-radius: .2em 0 0 .2em;
}

.transparent-background {
  background-color: rgba(0,0,0,0);
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-evenly-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-clicks {
  pointer-events: none;
}

.top-right {
  position: absolute;
  right: 0;
}

.icon-button.following {
  background-color: rgb(149,42,199);
}

.icon-button.not-following {
  background-color: hsl(0, 0%, 70%);
}
