.main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-hero > * {
  margin: 0;
}

.main-hero > img {
  width: 100%;
  /* Adjust later if needed */
  height: 200px;
}

.main-hero > h1,
.main-hero > button {
  margin: 1rem;
}

.main-hero p {
  text-align: center;
  /* Adjust later if needed */
  width: 80%;
}