.music-item {
  display: flex;
  align-items: center;
}

.music-item > .label {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: auto .5rem auto 0;
}

.music-item > .picture {
  margin-right: 1em;
}

.music-item.artist > .picture {
  border-radius: 50%;
}

.music-item > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  overflow: hidden;
}

.music-item > .info > .title {
  margin-bottom: 0;
}

.music-item > .info > .creator {
  margin-top: 0;
}