.music-library > .list-search > input {
  width: 10rem;
}

.music-library > .list-search > input:focus {
  width: 10rem;
}

.music-library > .basic-playlist {
  box-sizing: border-box;
  padding: 0 .5rem .5rem;
  border-radius: .2rem;
  /* Color-Light-3 */
  background-color: rgba(255, 255, 255, .6);
}

.music-library >.basic-playlist:not(:first-child) {
  margin-top: .5rem;
}

.music-library .basic-playlist >.heading {
  padding: .5rem 0;
}