.music-item {
  display: flex;
  align-items: center;
}

.label {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: auto .5rem auto 0;
}

.music-item .picture {
  margin-right: 1em;
}

.music-item.artist .picture {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  overflow: hidden;
}

.info .title {
  margin-bottom: 0;
}

.info .creator {
  margin-top: 0;
}

.music-item .expandable-button {
  margin-right: 0;
}