.signed-in-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signed-in-nav > .icon-button {
  margin: 0 0 0 1rem;
}

.signed-in-nav > .signed-in-nav-text{
  display: inline;
}

.signed-in-nav > .indicator-icon {
  margin: 0 1rem 0 0;
}