.user-preview {
  display: flex;
  align-items: center;
}

.user-preview .user-picture {
  border-radius: 50%;
}

.user-info {
  margin-right: auto;
  margin-left: 1em;
}

.user-info span {
  display: block;
}