.user-images {
  display: flex;
  flex-direction: row;
  overflow: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

.user-images.space-around {
  justify-content: space-around;
}

.user-images.margin {
  justify-content: space-between;
}

.user-images.margin > .user:not(:last-child) {
  margin-right: .5em;
}

.user-images > li {
  list-style: none;
}

.user-images > li > span {
  display: block;
}