.user-preview {
  display: flex;
  align-items: center;
}

.user-preview .user-picture {
  border-radius: 50%;
}

.user-info {
  margin-right: auto;
  margin-left: 1em;
}

.user-info span {
  display: block;
}

.user-preview > .following {
  background-color: var(--Follow-Button-Color);
}

.user-preview > .not-following {
  background-color: var(--Default-Button-Color);
}