.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .2em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.profile-main .user-picture {
  border-radius: 50%;
  margin-bottom: .2em;
}

.profile-main .name-follow-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-follow-option .expandable-button {
  margin-left: .2em;
}

.name-follow-option .user-name {
  font-size: 1.2em;
  margin-right: .4em;
}

.profile-main .user-info {
  margin-top: .2em;
  margin-bottom: .2em;
}

.follow-info {
  font-size: .8em;
}