.comparison .comparison-user > img {
  border-radius: 50%;
}

.comparison > .comparison-users {
  margin-bottom: 1rem;
}

.comparison > .comparison-summary .summary-title {
  font-size: 1.25em;
  margin-bottom: .25em;
}