.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  z-index: 14;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px 20px 10px 10px;
  z-index: 15;
}

.modal > .modal-close-btn {
  background-color: var(--Color-Dark-2);
  color: white;
}

.modal > .modal-heading {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  background-color: var(--Color-Dark-3);
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal > .modal-content {
  margin: 0 auto;
  padding: 10% 0;
  width: 80%;
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .modal {
    width: 350px;
  }
}