.divider-add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider-add-button > .icon-button {
  margin: 0 1em;
}

.divider-add-button > .icon-button > .icon {
  width: 20px;
  height: 20px;
}

.divider-add-button > hr {
  width: 50%;
}