footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: var(--Color-Dark-3);
  color: var(--Text-Color-Light);
}

footer > .text-section > .app-name {
  display: block;
  font-size: 1.5rem;
}

footer > .text-section > br {
  display: none;
}

@media screen and (max-width: 530px) {
  footer > .text-section > br {
    display: block;
  }
}

footer > hr {
  display: inline;
  width: 3px;
  height: inherit;
  margin: 0 1rem;
  background-color: white;
}

footer ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

footer > ul.links-section {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 430px) {
  footer > ul.links-section {
    flex-direction: column;
  }
}

footer > ul.links-section li {
  list-style: none;
}

footer > ul.links-section > li:not(:first-of-type) {
  margin-left: 2rem;
}

@media screen and (max-width: 430px) {
  footer > ul.links-section > li:not(:first-of-type) {
    margin-left: 0;
    margin-top: .5rem;
  }
}

footer > ul.links-section > li > span {
  text-decoration: underline;
}

footer > ul.links-section > li > ul {
  margin-top: .5rem;
}

footer > ul.links-section > li > ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: grey;
}

footer > ul.links-section > li > ul a > .icon {
  margin-right: .5rem;
}