:root {
  /* Colors */
  --Main-Color: #4F8ED7;
  --Color-Light-05: #75a7e0;
  --Color-Light-1: #B0CDED;
  --Color-Light-2: #D0E1F4;
  --Color-Light-3: #ECF3FB;
  --Color-Light-4: #FBFDFE;
  --Color-Dark-1: #2E67A9;
  --Color-Dark-2: #1D4069;
  --Color-Dark-3: #0F2035;

  /* Button Colors */
  --Light-Button-Color: #D8E6F6;
  --Default-Button-Color: hsl(0, 0%, 70%);
  --Follow-Button-Color: rgb(149, 42, 199);

  /* Font Colors */
  --Text-Color-Default : black;
  --Text-Color-Light: white;

  /* Main content widths */
  --Width-Small: 95%;
  --Width-Medium: 90%;
  --Width-Large: 800px;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: var(--Main-Color);
}

/* Main content styling */
.App main {
  box-sizing: border-box;
  width: var(--Width-Small);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .App main {
    width: var(--Width-Medium);
  } 
}

@media screen and (min-width: 868px) {
  .App main {
    width: var(--Width-Large);
  }
}

/* Nav styling */
nav.main-nav,
nav.app-nav {
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--Color-Dark-3);
}

nav button {
  background-color: var(--Light-Button-Color);
}

/* Button styling */
button {
  background-color: var(--Light-Button-Color);
  border-style: none;
}

button:enabled:hover {
  cursor: pointer;
}

.anchor-like {
  background-color: transparent;
  text-decoration: underline;
}

/* A11y Classes */
.a11y-hide-visually {
  position: absolute;
  left: -2000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Helper Classes */
/* Round Corner Classes */
.round-corners {
  border-radius: .2em;
}

.rounded-none {
  border-radius: 0;
}

.rounded-all {
  border-radius: .2em;
}

.rounded-top {
  border-radius: .2em .2em 0 0;
}

.rounded-right {
  border-radius: 0 .2em .2em 0;
}

.rounded-bottom {
  border-radius: 0 0 .2em .2em;
}

.rounded-left {
  border-radius: .2em 0 0 .2em;
}

/* Corner Point Classes */
.top-left-corner {
  border-radius: .2em;
  border-top-left-radius: 0;
}

.top-right-corner {
  border-radius: .2em;
  border-top-right-radius: 0;
}

.bottom-right-corner {
  border-radius: .2em;
  border-bottom-right-radius: 0;
}

.bottom-left-corner {
  border-radius: .2em;
  border-bottom-left-radius: 0;
}

/* Background color classes */
.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}

/* Display Flex Classes */
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-evenly-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Component movement */
.top-right {
  position: absolute;
  right: 0;
}

/* Text styling */
.error-message {
  color: red;
}

.center-text {
  text-align: center;
}

/* Parent element should have overflow:hidden */
.ellipses-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Input styling */
.full-width-input {
  display: block;
  width: 97%;
  padding: 1%;
}

/* Icon classes */
.invalid {
  color: red;
}

.valid {
  color: green;
}

/* Animation */
@keyframes rotate-360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}