.sign-in-form > form {
  display: flex;
  flex-direction: column;
}

.sign-in-form > form > input {
  margin-bottom: 10px;
}

.sign-in-form > form > label > * {
  display: block;
}

.sign-in-form > form > label {
  margin: 0 0 .2em 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.sign-in-form > form > label .icon {
  width: 15px;
  height: 15px;
  margin-left: .4em;
}

.sign-in-form > form > .sign-in-button {
  width: 50%;
  margin: 0 auto;
  border-radius: .2em;
}

.sign-in-form > form > .error-message {
  font-size: .4em;
}