.sign-in-form > form {
  display: flex;
  flex-direction: column;
}

.sign-in-form > form > *:not(:last-child) {
  margin-bottom: 10px;
}

.sign-in-form > form > label > * {
  display: block;
}

.sign-in-form > form > label > .label-bar {
  margin: 0 0 .2em 0;
  display: inline-flex;
  flex-direction: row;
}

.sign-in-form > form > label > .label-bar > .label-text {
  margin: 0 .4em 0 0;
}

.sign-in-form > form > label > .label-bar .icon {
  width: 15px;
  height: 15px;
}

.sign-in-form > form > .sign-in-button {
  width: 50%;
  margin: 0 auto;
  border-radius: .2em;
}

.sign-in-form > form > .error-message {
  font-size: .4em;
}